.top-navigation {
  width: 100vw;
  height: 3.75rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightslategray;
  z-index: 1;
  background-color: #a3760d;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    &:first-child {
      padding-left: 24px;
    }
    &:last-child {
      padding-right: 24px;
    }
  }

  &__left__logo {
    color: white;
    margin-left: 0.5rem;
  }
}
