.split-one--left,
.split-one--right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  &__link {
    color: white;
    text-decoration: none;
    padding: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.split-one--left div {
  height: 60%;
  width: 60%;
  background-color: #3359a8;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;

  &.active {
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

    &:hover {
      transition: box-shadow 0.3s ease-in-out;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
    }
  }
  color: white;
}

.split-one--right div {
  height: 60%;
  width: 60%;
  background-color: #a3760d;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;

  &.active {
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  &:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
  }
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
