.split-one--left,
.split-one--right {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.split-one--left div {
  height: 60%;
  width: 60%;
  background-color: #3359a8;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 8px rgba(128, 128, 128, 0.613);
  &.active {
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  color: white;
}

.split-one--right div {
  height: 60%;
  width: 60%;
  background-color: #a3760d;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 8px rgba(128, 128, 128, 0.613);
  &.active {
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
