.table__intro {
  padding: 0 3rem 1rem 3rem;

  &:first-of-type {
    padding-top: 3rem;
  }

  &:last-of-type {
    padding-bottom: 3rem;
  }
}

.table__wrapper {
  padding: 3rem;
}

.table {
  padding: 1rem;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  thead tr th,
  tbody tr td {
    text-align: left;
    padding: 0.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

.error__wrapper {
  display: flex;
  justify-content: center;
}

.loader__wrapper {
  display: flex;
  justify-content: center;

  .loader {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: isLoading 1.2s linear infinite;
  }
}

@keyframes isLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
