.page-not-found__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 4rem;
  }

  & * {
    margin-bottom: 3rem;
  }
}
