.left-navigation {
  position: fixed;
  background-color: lightgreen;
  height: 100%;
  min-width: 10rem;
  padding: 1rem;
  margin-top: 1px;

  transform: translateX(-100%);
  z-index: 5;

  &.active {
    animation: slideInLeftNav 0.3s ease-out forwards;
  }

  &.hidden {
    animation: slideOutLeftNav 0.3s ease-out forwards;
  }

  & ul li {
    list-style-type: none;
    padding: 0.5rem;
  }
}

// TO-DO: Make these global SCSS variables

@keyframes slideInLeftNav {
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOutLeftNav {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
