@import "../../utils/styleHelpers.scss";

.image-section {
  position: relative;
}

.image-section--splash {
  width: 100%;
  height: 100vh;
}

.image-section__scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  z-index: 6;

  &:before {
    font-size: 4rem;
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
  animation: pointDownwards 1s ease infinite;

  @include reduce-animation {
    animation: none;
  }

  &.two {
    z-index: 5;
    animation-delay: 1.1s;
  }
  &.three {
    z-index: 4;
    animation-delay: 1.2s;
  }
  &.four {
    z-index: 3;
    animation-delay: 1.3s;
  }
  &.five {
    z-index: 2;
    animation-delay: 1.4s;
  }
}

@keyframes pointDownwards {
  100% {
    transform: translateY(50%) translateX(-50%);
    opacity: 0;
  }
}
