.site-section__wrapper--split {
  display: flex;
  justify-content: space-around;
  @media (max-width: 391px) {
    flex-direction: column;
    & :first-child {
      margin-bottom: 1rem;
    }
  }
}

.site-section__wrapper--wide {
  width: 100%;
}
