$site-section-height: 10rem;

.site-section__wrapper--split {
  display: flex;
  justify-content: space-around;
  height: $site-section-height;
}

.site-section__wrapper--wide {
  width: 100%;
  height: $site-section-height;
}
